name: Pull request workflow

on:
  pull_request:
    branches: [ "develop", "main" ]

jobs:  
  test:
    name: Test ${{ matrix.target }}
    runs-on: macos-26
    strategy:
      matrix:
        target: [ "App", "DependencyInjection" ]
    permissions:
      pull-requests: write
      issues: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1
      - name: CI Setup
        run: make ci-setup
      - name: Run tests for ${{ matrix.target }}
        run: cd RecipeApp && bundle exec fastlane tests target:${{ matrix.target }}
