name: Pull request workflow

on:
  pull_request:
    branches: [ "develop", "main" ]

jobs:
  build:
    name: Build and Test default scheme using any available iPhone simulator
    runs-on: macos-26
    permissions:
      pull-requests: write
      issues: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1
        with:
          fetch-depth: 100
      - name: CI Setup
        run: make ci-setup
      - name: Run tests
        run: cd RecipeApp && bundle exec fastlane tests
      # TODO: FIX XCov Integration 
      # - name: Run Danger
      #   uses: MeilCli/danger-action@v5
      #   with:
      #     danger_file: 'RecipeApp/Dangerfile'
      #     danger_id: 'danger-pr'
      #   env:
      #     DANGER_GITHUB_API_TOKEN: ${{ secrets.DANGER_GITHUB_API_TOKEN }}
